//- 
	Pug (pugjs.org/) is a preprocessing language for HTML. It has it's own syntax, meaning you would have to learn another laguage to work with it effectively. There are some advantages to working with a language like pug though: 
	- templating ability 
	- more legible/simpler markup
	- HTML compression 
	- error prevention
	- reusable code 

doctype html
//- Attributes in Pug are placed within a pair of regular brackets attached to the end of the element they are assigned to. In this case, html(lang="en") will be processed into <html lang="en">
html(lang="en")
	//- Much like other HTML/CSS preprocessing languages, Pug nests elements based on their indenting. Because the head element below is indented one level, when it processes the Pug file the output will be <html><head>...</head> ...</html>
	head
	
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")

		//- If there is content for an element, it is simply placed after the element is added in Pug.
		title Andrew Ang

		link(rel="stylesheet" href="css/custom.css")
		link(rel="stylesheet" href="css/default.css")

	body

		//- Classes can be applied to elements by placing the class names immediately after the element within Pug. img.center(...) will be processed into <img class="center" ...>
		//- img.center(src="img/Bird.gif" alt="A orange-throated bird sitting on top of a park bench looking around")

		//- Below is the <img> element with the height and width attribute added back, to help demonstrate content shift
		img.img-cover.lazyload(src="./img/gif/webfront.jpg" data-src="./img/gif/webfront.gif" width="934px" height="720px" alt="A Gif short video showcasing the welcome page and the service of our Cardessory company.")

		p In this project, I worked with my Teammate, Ross Shen, to create our company, Cardessory.

		p Our aim for this project was to create an application which card collectors are able to keep track of their collections and stay up-to-date with the latest price and news.

		img.img-low.lazyload(src="./img/low-res/low-fidelity-low-res.jpg" data-src="./img/low-fidelity.png" width="862px" height="764px"  alt="An overview photo of the Cardessory website in low-fidelity. Utilizing several blocks representing text, buttons and images and basic concepts of the layout.")

		p Creating the low fidelity helped when we layout our project. Utilizing different coloured blocks representing our work helps give us a guide when discussing what elements fit each page.

		img.img-high.lazyload(scr="./img/low-res/high-fidelity-low-res.jpg" data-src="./img/high-fidelity.png"  width="1105px" height="827px" alt="A photo of the overview high fidelity progress of Cardessory landing page and sections")

		p When drafting the high fidelity of the website, we were able to learn what colours worked and what to take out when discussing each element within the page.

		img.img-overview.lazyload(scr="./img/low-res/overview-low-res.jpg" data-src="./img/overview.png"  width="899px" height="749px" alt="An overview photo of the landing page website, Cardessory company.")

		script(src="js/lazysizes.min.js")